<!doctype html>
<html lang="en">

<script src="bootstrap/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RUMER - Sign up</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="bootstrap/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/assets/libs/css/style.css">
    <link rel="stylesheet" href="bootstrap/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }
    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
          background-size: cover;
        background-image:url('https://www.francechimie.fr/media/e34580ffb57afb63ff48eeee4f85e8cb.jpg');
    }
    </style>
</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<body>
    <!-- ============================================================== -->
    <!-- signup form  -->
    <!-- ============================================================== -->
    <form class="splash-container" method="post" action="signuphandle">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-1" style="color : whitesmoke">Registrations Form</h3>
                <p style="color : whitesmoke">Please enter your user information.</p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" id = 'user_name' name="user_name" required="" placeholder="Username" autocomplete="off" style = "display : inleine; width :70%">
                    <button class = "btn" id ='username_btn' style="background-color : #2e2f39"> Check ID</button>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="email" id = 'email' name="email" required="" placeholder="E-mail" autocomplete="off" style = "display : inleine; width :70%">
                    <button class = "btn" id='email_btn' style="background-color : #2e2f39"> Verify</button>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" id="pwd1" type="password" name="pwd" required="" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" id="pwd2" type="password" name="pwd_confirm" required="" placeholder="Confirm">
                </div>
                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" id ="register" type="submit" disabled>Register My Account</button>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="agree" name="agree">
                        {# <span class="custom-control-label">By creating an account, you agree the <a href="#">terms and conditions</a></span> #}
                    </label>
                </div>
                {# <div class="form-group row pt-0">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                        <button class="btn btn-block btn-social btn-facebook " type="button">Facebook</button>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <button class="btn  btn-block btn-social btn-twitter" type="button">Twitter</button>
                    </div>
                </div> #}
            </div>
            <div class="card-footer bg-white">
                <p>Already member? <a href="signin" class="text-secondary">Sign in Here.</a></p>
            </div>
        </div>
    </form>
</body>

<script>
    $("#pwd2").keyup(function(){
        var pwd1 = $("#pwd1").val();
        var pwd2 = $("#pwd2").val();
        
        if (pwd1 == pwd2) 
            $("#register").removeAttr("disabled");
        else 
            $("#register").attr("disabled", "disabled");
    });

    $("#username_btn").click(function() {
        var username = $("#user_name").val();
        $.ajax({
            type: 'GET',
            url: './usernamecheck',
            data: {user_name: username},
            datatype: 'JSON'
        })
        .done(function(json) {
            var num_user = JSON.parse(json)
            if (num_user < 0) 
                alert("query error");
            else if (num_user == 0) {
                alert("usable username");
                $('#user_name').attr("disabled", "disabled");
                $('#username_btn').attr("disabled", "disabled");
            }
            else
                alert("duplicate username");
        })
        .fail(function(json) {
            alert("fail response");
        })
    });

    $("#email_btn").click(function() {
        var username = $("#user_name").val();
        var email = $("#email").val();
        $.ajax({
            type: 'GET',
            url: './emailverify',
            data: {'user_name': username, 'email': email},
            datatype: 'JSON'
        })
        .done(function(json) {
            var result = JSON.parse(json);
            if (result == 0) {
                alert("We will send you a confirmation email, so please check it.");
                $('#email').attr("disabled", "disabled");
                $('#email_btn').attr("disabled", "disabled");
            }
            else 
                alert("email sending error");
        })
        .fail(function(json) {
            alert("fail response");
        })
    })
</script>
 
</html>